* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100vh;

}

.top {
    width: 100%;
    min-height: 60vh;
    background-image: url(../img/land.png);
    background-size: cover;
    background-position: center;
}

.top .overlay {
    position: relative;
    width: 100%;
    min-width: inherit;
    background-color: rgba(0, 0, 0, 295);

}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10vh;
    color: white;
    bottom: 5%;
}

.text h1 {
    font-weight: 600;
    font-size: 4vw;
}

.text .image {
    background-image: url(../img/file.png);
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 220px;
}

#rtext {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}

#rtext p {
    font-size: 12px;
}

.bottom {
    display: flex;
    width: 100%;
    min-width: 40vh;
}

.b1 {
    width: 30%;
    min-width: inherit;
    background-image: url(../img/file2.png);
    background-size: cover;
    background-position: center;
}

.b1 h1 {
    text-align: center;
    padding: 30px;

}

.b1 p {
    color: white;
    text-align: center;
    padding: 15px;
}

.b2 {
    width: 30%;
    min-width: inherit;
    display: flex;
    flex-direction: column;
}

.b2 .up {
    width: 100%;
    min-height: 20vh;
    background-image: url(../img/file3.png);
    background-size: cover;
    background-position: center;
}

.b2 .up h1 {
    text-align: center;
    padding: 30px;

}

.b2 .up p {
    color: white;
    text-align: center;
    padding: 15px;
}

.b2 .down {
    width: 100%;
    min-height: 20vh;
    background-image: url(../img/Screenshot\ 2024-05-30\ 213146.png);
    background-size: cover;
    background-position: center;
}

.b2 .down .overlay {
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(255, 255, 255, 0.344);
}

.b3 {
    width: 30%;
    min-width: inherit;
    background-image: url(../img/Screenshot\ 2024-05-30\ 213533.png);
    background-size: cover;
    background-position: center;
}

.b3 .overlay {
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 100%;
    height: 100%;
    padding: 4vh 3vh;
}

.b3 .overlay p {
    padding: 1.2vh;
}

@media (max-width:700px) {
    .rtext {
        flex-direction: column;
    }

    .b3 .overlay {
        width: 100%;
        margin-left: initial;

    }
}

@media (max-width:500px) {
    .text {
        flex-direction: column;
        align-items: flex-start;
    }

    .text h1 {
        font-size: 5vh;

    }

    .txet .images {
        height: 200px;
        width: 140px;
        margin-top: 20px;
    }

    .rtext {
        flex-direction: column;
        align-items: flex-start;
    }

    .rtext p {
        margin-top: 10px;
    }

    .icons {
        margin-top: 10px;
    }

    .bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .b1 {
        width: 100%1;
        min-height: 30vh;
    }

    .b2 {
        width: 100%1;
    }

    .b2 up {
        min-height: 40vh;
    }

    .b3 {
        width: 100%1;
        min-height: 30vh;
        background-position: left;
    }
}